.services {
  padding: 2rem 0;
  margin: 0 auto;
  text-align: center;
  background-color: #111827;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #4b6cb7;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.services:hover .title {
  opacity: 1;
  transform: translateY(0);
  animation: floatWave 2s ease-in-out infinite;
}

.servicesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  padding-top: 6rem;
}

.serviceItem {
  background-color: #111820;

  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  width: 300px;
}

.serviceItem:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #24314d;
  opacity: 1;
}

.serviceItem.animate {
  animation: fadeInUp 0.5s ease forwards;
}

.serviceIcon {
  margin-bottom: 1rem;
  color: #4b6cb7;
  transition: transform 0.3s ease;
}

@keyframes floatWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.serviceItem:hover .serviceIcon {
  transform: scale(1.2);
}

.serviceTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #4b6cb7;
}

.serviceItem:hover .serviceDescription {
  color: #4b6cb7;
}

.serviceItem:hover .serviceTitle {
  color: #ddd;
}

.serviceItem:hover .serviceIcon {
  color: #ddd;
}

.serviceDescription {
  color: #666;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.serviceItem:nth-child(1) {
  animation-delay: 0.1s;
}
.serviceItem:nth-child(2) {
  animation-delay: 0.2s;
}
.serviceItem:nth-child(3) {
  animation-delay: 0.3s;
}

.serviceItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .servicesGrid {
    grid-template-columns: 1fr;
  }
}
