.section {
  width: 100%;
  height: 100vh;
  background-color: #333;
}

.aboutTitle {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  padding-top: 4.5rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  width: 11rem;
  height: 0.25rem;
  margin-bottom: 6rem;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.section p {
  width: 50%;
  margin: 2rem auto;
  color: #fff;
  font-size: 2rem;
}
