.social-icons {
  display: flex;
  /* margin-top: 4rem; */
  width: 20rem;
  position: absolute;
  bottom: 3.5rem;
  right: 1.6rem;
  list-style: none; /* Remove default list styling */
  padding: 0;
  /* margin: 4rem; */
  gap: 1rem;
}

.social-icon {
  color: #ddd; /* Adjust color as needed */
  font-size: 2rem;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Ensure transition is applied here */
}

.social-icon:hover {
  color: #0073b1; /* Adjust hover color as needed */
  transform: scale(1.2) rotate(10deg); /* Make the icon bigger and rotate on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

/* Hide the ::marker pseudo-element */
.social-icons::marker {
  content: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .social-icons {
    top: 15rem;
    margin: 0 auto;
    gap: 0.5rem;
  }

  .social-icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .social-icons {
    width: 10rem;
    bottom: 2rem;
    right: 1rem;
    gap: 0.25rem;
  }

  .social-icon {
    font-size: 1rem;
  }
}
