.home-page {
  padding-top: 80px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin-bottom: 0; /* Add this line to remove bottom margin */
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(135deg, #111827 0%, #182848 100%);
  color: white;
  position: relative;
  overflow: hidden;
  padding-bottom: 0; /* Add this line to remove bottom padding */
}

.hero-content {
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: #3b82f6;
  position: relative;
  overflow: hidden;
}

.hero-content::before,
.hero-content::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  animation: slideLeftRight 1s ease forwards;
}

.hero-content::before {
  left: -100%;
}

.hero-content::after {
  right: -100%;
}

@keyframes slideLeftRight {
  to {
    left: 100%;
    right: 100%;
  }
}

.hero-content.scrolled {
  transform: translateY(-20px);
  opacity: 0.8;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
}

.floating-background {
  height: 120vw;
  width: 120vw;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 80%);
  position: absolute;
  top: -110vw;
  left: calc(50% - 60vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
  z-index: 0;
}

.floating-background::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(132, 185, 63, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite reverse;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 0.6rem dotted #60a5fa;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  opacity: 0.9;
  animation: float 2.5s ease-in-out infinite;
  position: relative;
  z-index: 1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  radius: 50%;
}

.about,
.skills {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about.visible,
.skills.visible {
  opacity: 1;
  transform: translateY(0);
}

.about h2,
.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #4b6cb7;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills li {
  background-color: #4b6cb7;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(75, 108, 183, 0.4);
}

.skills.visible li {
  animation: fadeInUp 0.5s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills li:nth-child(1) {
  animation-delay: 0.1s;
}
.skills li:nth-child(2) {
  animation-delay: 0.2s;
}
.skills li:nth-child(3) {
  animation-delay: 0.3s;
}
.skills li:nth-child(4) {
  animation-delay: 0.4s;
}
.skills li:nth-child(5) {
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .profile-picture {
    margin-top: 2rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}

.animate-slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s ease forwards;
}

.animate-slide-left-right {
  position: relative;
  overflow: hidden;
}

.animate-slide-left-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  animation: slideLeftRight 1s ease forwards;
}

@keyframes slideLeftRight {
  to {
    left: 100%;
  }
}

.animate-delay-1 {
  animation-delay: 1s;
  font-size: 1.6rem;
}

.animate-delay-2 {
  animation-delay: 1.8s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(
    to top,
    rgba(240, 242, 245, 1),
    rgba(240, 242, 245, 0)
  );
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.hero.scrolled::after {
  transform: translateY(0);
}

/* .home-page {
  padding-top: 0;
  margin: 0;
  height: 100%;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(135deg, #111827 0%, #182848 100%);
  color: #60a5fa;
  position: relative;
  overflow: hidden;
}

.hero-content {
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about,
.skills {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about h2,
.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #4b6cb7;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills li {
  background-color: #4b6cb7;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(75, 108, 183, 0.4);
}

.skills.visible li {
  animation: fadeInUp 0.5s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills li:nth-child(1) {
  animation-delay: 0.1s;
}
.skills li:nth-child(2) {
  animation-delay: 0.2s;
}
.skills li:nth-child(3) {
  animation-delay: 0.3s;
}
.skills li:nth-child(4) {
  animation-delay: 0.4s;
}
.skills li:nth-child(5) {
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .profile-picture {
    margin-top: 2rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
} */
