.navbar {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-logo {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  color: #ffffff;
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  margin-left: 2rem;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #5d7eca; /* Change color on hover */
  transform: scale(1.3); /* Slightly enlarge the text */
}

.navbar-link:hover::before {
  visibility: visible;
  width: 100%; /* Expand the underline */
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle-icon {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #182848;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-item {
    margin: 1rem 0;
    text-align: center;
  }

  .navbar-toggle {
    display: flex;
  }
}
