.social-icons {
  display: flex;
  margin-top: 3rem;
  width: 20rem;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 12rem; */
}

.social-icon {
  font-size: 4rem;
  color: rgb(201, 177, 177);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 0 1rem;
}

.social-icon:hover {
  color: #e63981;
}
