@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Monoton&display=swap"); */

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
