.homepage {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../images/bg.jpg), center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.heading {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  background-color: #e41c6f;
  padding: 0 3rem;
  margin-bottom: 4rem;
  margin-top: 20rem;

  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.4rem solid #fff;
  /* border-bottom-width: 0.8rem; */
  text-shadow: 0.2rem 0.2rem 1rem #555;
  transform: skew(10deg);
}

.image {
  width: 29rem;
  height: 29rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.7rem dotted #e41c6f;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  opacity: 0.9;
}

.person-name {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  background-color: #e41c6f;
  margin: 3rem 0 0.5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
}

.btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: 0.3rem solid #333;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
